<div class="container">
    <div class="header">Witaj w naszej aplikacji! <mat-icon [matTooltip]="'Wyloguj'" (click)="logout()">logout</mat-icon></div>
    <div class="subheader">Specjalnie dla Ciebie mamy parę ciekawostek o kotach:</div>
    <div
            infinite-scroll
            [infiniteScrollThrottle]="300"
            [infiniteScrollDistance]="1"
            (scrolled)="onScrollingDown()"
    >
        <ng-container *ngFor="let fact of (listData$ | async)">
            <app-fact-card
                    *ngIf="fact"
                    [fact]="fact"
            ></app-fact-card>
        </ng-container>
    </div>
</div>