.card {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 24px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 16px;
  padding: 36px;
  background-color: #ffefcd;

  > .mat-icon {
    margin-right: 16px;
  }

  > .text {
    width: calc(100% - 40px);
    word-break: break-word;
  }
}