<div class="container">
  <h1>Logowanie</h1>

  <form
    class="form"
    *ngIf="formGroup"
    [formGroup]="formGroup"
    (ngSubmit)="submitHandler()"
  >
    <mat-form-field class="form__control">
      <mat-label>Clearable input</mat-label>
      <input [formControl]="getControl('email')" matInput type="text">
    </mat-form-field>
    <mat-form-field class="form__control">
      <mat-label>Clearable input</mat-label>
      <input [formControl]="getControl('password')" matInput type="password">
    </mat-form-field>

    <button
      class="form__button"
      mat-button
      type="submit"
    >
      Zaloguj się
    </button>
  </form>
</div>
